# App
NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:8081
TRUST_PROXY=true

# Database
DATABASE_URL=

# Authentication
JWT_SECRET=3f2e74c75beeee350613196ab3f9b3e6770461a83c33fa37b9ae3054a76e99cb
JWT_EXPIRES_IN=7d

# OTP
OTP_SECRET=9ce5a0d8f67f85b515abce54e8c39c4ee59f885a00b0786de1c5692cb5901e35
OTP_EXPIRES_MINUTES=10
OTP_RESEND_SECONDS=30
OTP_MAX_ATTEMPTS=5

# Mail
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAILJET_SEND_URL=https://api.mailjet.com/v3.1/send
MAILJET_TIMEOUT_MS=10000
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=PadosiPro

# Logging
LOG_LEVEL=info